/////////////////////////////////////////
//LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

///////////////////////////////////////
//SEARCH

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
      font-size: inherit;
    }
  }

  &__input:focus + &__btn {
    background-color: var(--color-grey-light-3);
  }

  &__btn {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

///////////////////////////////////////
//USER NAVIGATION

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    color: var(--color-white);
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    color: var(--color-grey-dark-1);
    font-size: 1.3rem;
  }
}

///////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem;

  display: flex;

  flex-direction: column;
  align-items: flex-start;

  &__item {
    position: relative;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, 
                  width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
                  background-color 0.1s;
      //time it takes 1st number, delay is 2nd number
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; //color of parent element
  }
}

///////////////////////////////////////
//COPYRIGHT TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  align-self: center;
  text-align: justify;
  padding: 2.5rem;

  &__link {
    &:link,
    &:visited {
      color: var(--color-grey-light-4);
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

///////////////////////////////////////
//GALLERY

.gallery{
  display: flex;

  &__item{

  }

  &__photo{
    width: 100%;
    display: block;
  }
}


///////////////////////////////////////
//GALLERY

.overview{

  display: flex;
  
  margin: .5rem 2rem;

  &__heading{

  }

  &__stars{
    margin-right: auto; //sets it so there is space between it and other elements
  }

  &__icon{

    &--star,
    &--location{
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary);

    }

  

    &--star{

    }

    &--location{

    }

  }

  &__location{
  

  }

  &__rating{

    &--average{

    }

    &--votes{

    }

  }
}



///////////////////////////////////////
//Inline button

.btn-inline{

}